* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #000;
    padding: 50px;
}

input {
    text-align: center;
    padding: 10px 20px;
}

.container {
    background: silver;
    width: 1000px;
    margin: auto;
    color: rgb(245, 245, 245);
}

nav {
    width: 100%;
}

nav ul li {
    display: inline;
}

nav ul li button {
    padding: 10px 30px;
}

.form {
    width: 100%;
    height: 400px;


}

.form1 {
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgb(151, 150, 150), rgb(63, 59, 59));
    display: flex;
    flex-direction: column;
    display: none;
}

.input {
    height: 50%;
    flex-shrink: 1;
    /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
}

.input h2 {
    margin-top: 5%;
    text-align: center;

}

.input button {

    padding: 10px 20px;
    border-radius: 15px;
    border: 4px solid goldenrod;
}

.input button:hover {
    color: white;
    background: rgb(192, 191, 191);
}

.output {
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ketqua {
    width: 70%;
    height: 20%;
    background: rgb(137, 137, 137);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4px solid goldenrod;
}

.form2 {
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgb(151, 150, 150), rgb(115, 112, 112));
    display: flex;
    flex-direction: column;
    display: none;
}


.form3 {
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgb(151, 150, 150), rgb(115, 112, 112));
    display: flex;
    flex-direction: column;
    display: none;
}
.form4 {
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgb(151, 150, 150), rgb(115, 112, 112));
    display: flex;
    flex-direction: column;
    display: none;
}
.div_chan{
    width: 100%;
    height: 50px;
    background: red;
}
.div_le{
    width: 100%;
    height: 50px;
    background: blue;
}
.form4 .output{
    display: flex;
    flex-direction: column;
}

